$primary: #f0f0f0;
$secondary: #0f0f0f;

$medium-black: #1b1b1b;

$bright-white: #fef9ff;
$light-off-white: #cdc5b4;
$medium-off-white: #776d5a;

$grey-light: #e6d3da;
$grey-medium: #af9fa5;
$grey-dark: #3c3744;

$green-bright: #89fc00;
$green-dark: #83b692;

$blue-bright: #5ad2f4;